 /* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*{
	box-sizing: border-box;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
	height: 100vh;
	 background: url('assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
	font-family: 'BenchNine', sans-serif;
}


.profile-card {
	width: 480px;
	max-width: calc(100vw - 10px);
  background-color: hsla(0, 0%, 100%, .6);
  border-radius:50px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
	
}

h1,
h2 {
  font-family: 'Jua', Arial, sans-serif;
}

.head, .links {
  text-align: center;
}

.head, .content {
  width: 90%;
  margin: 0 auto;
	text-align: center;
	font-size: 1.062rem;
}


img {
  width: 22%;
  height: 22%;
  border-radius: 30%;
	padding: 1px;
  background-color: #666;
	float: left;
	margin-left: 2%;
	
	
}


.name-headline {
	margin-top: 5%;
	margin-bottom: -5%;
	text-align: center;
}

.profile-image {
  margin-top: 5%;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

.head, .about {
  margin-bottom: 10%;
}

.content {
  padding: 5% 10%;
	border-top: 1px solid hsla(0, 0%, 30%, .8);
}

.about {
	text-align: center;
	}

img:hover {
  transform: scale(2.1);
	transition: all 0.3s ease-in-out;
	
}

.fa {
	color: cyan;
}

.fa-map-marker {
	color: orangered;
}

.links {
	 padding: 5%;
	border-top: 1px solid hsla(0, 0%, 30%, .8);
}

h1 {
	font-size: 1.5rem;
}
