/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
	display: flex;
	justify-content: center;
  align-items: center;
  height: 100vh;
	display: flex;
	background: url('assets/kep.jpg') no-repeat center center fixed;
  background-size: cover;
}

.profile-card {
  width: 30rem;
  max-width: calc(100vw - 10px);
	font-family: fantasy;

.head, .content {
  width: 90%;
  margin: 0 auto;
}
	
.head, .links, {
  text-align: center;
  letter-spacing: .188rem;
}



